{
  "name": "{{ sp_prefix }}customers_ref",
  "pipeline": [
    { 
      "$source": {
        "connectionName": "{{ conn_src_customers }}",
        "db": "sample_analytics",
        "coll": "customers"
      }
    },
    {
      "$project": {
        "_id": 1,
        "username": 1,
        "name": 1,
        "email": 1,
        "tier_and_details": "$tier_and_details",
        "account_ids": "$accounts"
      }
    },
    {
      "$merge": {
        "into": {
          "connectionName": "{{ conn_sink }}",
          "db": "{{ sink_db }}",
          "coll": "customers_ref"
        },
        "on": "_id",
        "whenMatched": "merge",
        "whenNotMatched": "insert"
      }
    }
  ]
}